
.bg{
    background: linear-gradient(269.6deg, #F99B9D -1.58%, #83AAE6 99.63%);
}
.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// text variant
.headline{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin: 0;
    padding: 0; 
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0; 
    font-weight: 400;
}

.body{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0; 
}

.caption{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    margin: 0;
    padding: 0; 
}

